{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "printWidth": 80,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none"
}
